[advisories]
db-path = "~/.cargo/advisory-db"
db-urls = ["https://github.com/rustsec/advisory-db"]
version = 2
vulnerability = "deny"
unmaintained = "workspace"
yanked = "warn"
notice = "warn"

[licenses]
version = 2
allow = [
    "MIT",
    "Apache-2.0",
    "Apache-2.0 WITH LLVM-exception",
    "ISC",
    "Unicode-DFS-2016",
    "Unicode-3.0",
    "BSL-1.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "MPL-2.0",
    "Zlib",
    "CC0-1.0",
    "OpenSSL",
]
unlicensed = "deny"
copyleft = "warn"

[bans]
multiple-versions = "warn"
wildcards = "allow"
deny = []

[sources]
unknown-registry = "warn"
unknown-git = "warn"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
