[advisories]
db-path = "~/.cargo/advisory-db"
db-urls = ["https://github.com/rustsec/advisory-db"]
# unmaintained: scope of packages to check (all/workspace/transitive/none)
# "vulnerability", "notice" keys removed in cargo-deny 0.16+
unmaintained = "workspace"
yanked = "warn"
ignore = []

[licenses]
# "version", "unlicensed", "copyleft" keys removed in cargo-deny 0.16+
allow = [
    "MIT",
    "Apache-2.0",
    "Apache-2.0 WITH LLVM-exception",
    "ISC",
    "Unicode-DFS-2016",
    "Unicode-3.0",
    "BSL-1.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "MPL-2.0",
    "Zlib",
    "CC0-1.0",
    "OpenSSL",
]

[bans]
multiple-versions = "warn"
wildcards = "allow"
deny = []

[sources]
unknown-registry = "warn"
unknown-git = "warn"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
